networks:
  kafka:
    name: kafka

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:5.5.0
    container_name: zookeeper
    networks:
      - kafka
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  broker:
    image: confluentinc/cp-kafka:5.5.0
    container_name: broker
    ports:
      - "19092:19092"
    networks:
      - kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092,CONNECTIONS_FROM_HOST://localhost:19092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONNECTIONS_FROM_HOST:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  warehouse:
    networks:
      - kafka
    build:
      dockerfile: warehouse/Dockerfile
    depends_on:
      - broker
    environment:
      KAFKA_BOOTSTRAPSERVERS: broker:9092
      KAFKA_SENSORTOPIC: sensor
    ports:
      - "3344:3344/udp"
      - "3355:3355/udp"